body{
    font-family: 'Roboto Condensed', helvetica, sans-serif;
}

div.title{
    width: 100%;
    height: 100%;
}

h1{
    color: 0;
    font-weight: 550;
    font-size: 2.75em;
    max-width: 800px;
    text-align: left;
    margin: 25px, 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

h2{
    text-align: left;
    color: 0;

}

h3{
    font-size: 1.4em;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}



div.bio{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

img.bioImage{
    width: 100%;
    margin: auto;
    display: block;
}

p.bioText{
    font-weight: 300;
    font-size: 1.28em;
    line-height: 130%;
    text-align: justify;
}

p.bioText > a{
    color: #000000;
}

p.bioText > a:hover{
    background-color: #FFFF00; 
}

div.linkList{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

li.assignmentLink{
    font-weight: 300;
    font-size: 1.15em;
    line-height: 130%;
}

li.assignmentLink > a{
    color: #000000;
}

li.assignmentLink > a:hover{
    background-color: #FFFF00; 
}

img.bioImage2{
    width: 75%;
    margin: auto;
    display: block;
}

img.bioImage3{
    width: 100%;
    margin: auto;
    display: block;
}

img.bioImage4{
    width: 65%;
    margin: auto;
    display: block;
}

img.bioImage5{
    width: 80%;
    margin: auto;
    display: block;
}

h4{
  font-size: 1.28em;
    font-weight: 500;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

